.button-container {
	display: flex;
	justify-content: space-around;
}

.search-container-1,
.search-container-2,
.search-container-3 {
	display: flex;
	flex-wrap: wrap;
}

.card-img-top {
	background-color: grey;
}
