#card-container {
	margin: 0 2em;

	.card {
		background-color: #e7e7e7;

		margin: 1.5em;
		padding: 0;
		height: 380px;
		width: 360px;

		.img-block {
			background-color: #c7bebe;
			height: 170px;
		}
		.card-body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0.25em;
			.card-title {
				font-weight: 400;
				font-size: 1.2em;
				width: 70%;
			}
			p {
				padding-right: 1em;
				align-self: flex-start;
				.clock-icon {
					-webkit-text-fill-color: transparent;
					-webkit-text-stroke: transparent; // can be any color
				}
			}
		}

		.details {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0 0.25em;
			font-size: 0.8em;

			.ingredients-container {
				ul {
					padding: 0 0.25em;
					li {
						line-height: 1.7;
						list-style: none;
					}
				}
			}

			.description {
				display: -webkit-box;
				max-width: 400px;
				height: 120px;
				-webkit-line-clamp: 7;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 1.4;
				width: 50%;
				padding-right: 0.2em;
			}
		}
	}
}
